.typewriter-container {
  display: flex;
  align-items: flex-start;
  font-size: 1.5rem;    /* equivalente ao text-2xl */
  font-weight: bold;    /* equivalente ao font-bold */
  line-height: 1.15;
  min-block-size: 1lh;
}

.typewriter-text {
  color: #0072ef; /* mesma cor usada no cursor */
}

#cursor {
  color: #0072ef;
  animation: blink 1s linear infinite;
}

@media (max-width: 600px) {
  .typewriter-container {
    font-size: 1.15rem;
    min-block-size: 3lh;
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
